body {
	background-color: #e9eaed;
}

button:hover {
	border: none !important;
}

.main-content {
	padding: 20px;
	margin: 0;
	background-color: #ffffff;
	border: 1px transparent solid;
	border-bottom-color: #eeeeee;
	position: relative;
}

.app-bar {
	padding-left: 50px;
	padding-right: 50px;
	display: flex;
	align-items: center;
	font-size: 18px;
}

.bar-logo {
	flex: 1;
}

.logo {
	display: inline-flex !important;
	align-items: center;
}

.logo-img {
	max-width: 42px !important;
	max-height: 42px !important;
}

.logo-name {
	padding-left: 10px;
	font-weight: bold;
	font-size: 20px;
	font-family: Bitter;
}

.notHover:hover {
	transition: background-color 5000s ease-in-out 0s !important;
}

.d-menu {
	border: none !important;
}

.app-element > .d-menu > li > a {
	color: #333333 !important;
	font-size: 16px;
}

.app-element > .d-menu > li > a:hover {
	background-color: #59cde2;
}

.menu-bar, .app-content {
	margin-top: 20px;
}

.menu-bar a, .app-content a {
	color: #333333 !important;
}

.menu-bar > ul > li {
	background-color: #e9eaed;
}

.menu-bar > ul > li > a {
	font-size: 16px;
}

.menu-bar > ul > li > a > img {
	padding-right: 30px !important;
}

.menu-button {
	padding-left: 20px;
}

.actived {
	font-weight: bold;
}

.button-list {
	font-size: 25px !important;
	font-weight: 400;
	color: #ffffff;
	position: absolute;
	right: 20px;
	top: -25px;
}

.button-list > button {
	font-size: 25px !important;
}

.button-list button {
	color: #ffffff;
}

.button-list > button:hover, .button-list > a:hover, .ebut:hover {
	transform: rotate(360deg);
	transition-duration: 1.5s;
}

.categories-list {
	margin-top: 15px;
	position: relative;
}

.type-title {
	font-size: 16px;
	padding: 8px;
	border: 1px transparent solid;
	border-bottom-color: #eeeeee;
	margin-left: 8px;
	margin-right: 9px;
	margin-top: 15px;
	color: #999999;
}

.list:not(:hover) {
	border-bottom-color: #ffffff !important;
}

.list {
	display: inline-flex !important;
	align-items: center;
	padding-bottom: 8px !important;
}

.list-title {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.add-new-category > .grid {
	margin: 0 !important;
}

.add-new-category button {
	background-color: #26a69a;
}

.add-new-category button:hover {
	background-color: #26a69a;
}

.categories-list button:focus {
	color: white;
}

.cat_img {
	display: flex !important;
	align-items: center;
	justify-content: center;
}

.deleteBut {
	align-self: center;
}

.deleteBut:hover {
}

.notix {
	position: relative;
	max-height: 100%;
}

.app-notify {
	display: flex;
	flex-wrap: wrap;
	position: absolute !important;
	box-shadow: 1px 0 0 #f0f0f2 inset;
	padding: 10px;
	width: 93%;
	align-items: flex-start;
	align-content: flex-start;
	margin-left: 7%;
	border-left: 1px solid #ccc;
	height: 100%;
}

.sorry {
	display: flex;
	justify-content: center;
	align-items: center;
}

.sorry img {
	margin-right: 20px;
}

.list, .transactionListThisMonth {
	opacity: 0;
    -webkit-transform: scale(.8);
    transform: scale(.8);
}

.input-icon {
	max-width: 40px;
	max-height: 40px;
}

.icon-prefix {
	display: flex !important;
	align-items: flex-end; 
	justify-content: center; 
	margin: 11px 10px 11px 0 !important;
}

.notify-div {
	width: 100%;
	background-color: inherit;
	display: flex;
	flex-wrap: wrap;
	padding: 5px;
	border-bottom: 1px solid #ccc;
}

.notifys-icon img{
	max-width: 40px;
	max-height: 40px;
}

.notifys-icon {
	width: 15% !important;
	display: flex;
	align-items: center;
}

.notifys-content {
	width: 80% !important;
	align-items: center;
	display: flex;
}

.app {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -4em;
}

.footer, .push {
	height: 4em;
}

.footer {
	background-color: #E57373;
	color: #ffffff;
	padding: 10px;
	display: flex;
	align-items: center;
}

.footer .logo {
	max-height: 35px;
	max-width: 35px;
	margin-left: 5%;
	width: 100%;
}

.f_appName {
	padding-left: 10px;
}

.contact {
	padding-left: 30px;
	font-size: 16px;
}
