.logoSection {
	padding-top: 30px;
	padding-bottom: 120px;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
}

.name-slogan {
	margin-left: 10px;
}

.responsive-img {
	display: flex;
	align-items: center;
	max-width: 130px !important;
}

.appName {
	font-size: 40px;
	font-family: Bitter;
	text-transform: uppercase;
	font-weight: bold;
	margin: 0;
}

.slogan {
	font-size: 14px;
	color: #fff;
}

.login-panel {
	top: -120px;
	position: relative;
}

#loginForm {
	padding-top: 10px;
}

#loginForm .row {

}

.loginButton button {
	border-radius: 0;
	color: #9e9e9e;
}

button:hover {
	color: #fff;
}

#btn1 {
	color: #fff;
}

.loginTitle h2 {
	font-size: 24px;
	margin-bottom: 0;
	padding-bottom: 0;
	color: #26a69a;
	font-weight: bold;
}

.other-button label {
	font-size: 14px;
	padding-left: 0 !important;
	padding-top: 5px !important;
	color: #333;
	font-weight: bold;
}

.forgot {
	margin-left: 4%;
	color: #333;
}

.logo {
	max-width: 60px !important;
}

.other-button > label > a {
	color: #26a69a !important;
}
